<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
  
  	
  
  		<title> The Place To Be !! </title>
        
	<div th:replace="fragments/metalinks :: head"></div>
  		
    		
  </head>
  
  <body>
  	<div th:replace="fragments/topmenu :: header"></div>
  

	</br>
    </br>
    </br>
    </br>
	<div class="container">
    <div class="row">
    </br>
    </br>
       	<h1 class="text-center">
        Site en construction !!
     	</h1>
    </br>
    	<h2 class="text-center">
    	C'est le chantier ..
    	</h2>
    </div>
</div>

	<div th:replace="fragments/footer :: foot"></div>
	</body>
  
</html>